<section class="team">
  <div class="grid-xlarge">
    <div class="team__container">
      <article>
        <a class="team__link" href="#" target="_blank">
          <div class="team__img-container">
            <span class="preloader"></span>
            <figure class="team__img">
              <img class="absolute-bg"
                src="https://cdn-4.motorsport.com/images/mgl/24vA3r46/s8/max-verstappen-red-bull-racing-1.jpg" alt="" />
            </figure>
          </div>
          <div class="team__text">
            <h3 class="team__title">Max Verstappen</h3>
            <span class="team__position">El campeon mas joven de F1 de la historia</span>
          </div>
        </a>
      </article>
    </div>
  </div>
</section>