<div class="container-fluid">  
    <div class="row" style="margin-top:20px;">
        <h5 class="section-title h1">Equipos de formula 1</h5> 
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <a href="#" class="card-text" id="topline"
                                style="font-size:12px;color:rgb(254, 255, 255); padding:1px">MERCEDES </a>
                            <br>
                            <p class="card-text"
                                style="font-weight: 700;color:#404041;line-height:30px;font-size: 20px;">
                                

                            </p>
                        </div>
                        <div class="col-md-5 col-xs-6">
                            <img src="https://formula1.lne.es/media/escuderias/big/mercedes.jpg?4"
                                style="background-color:rgb(0, 222, 214);height:75px;width:130px;margin-top:20px;">
                        </div>
                        <div class="col-md-7">
                            <p class="card-text"
                                style="font-size: 13px;line-height: 24px;color: #58595b;font-weight: 200;">
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <a href="#" class="card-text " id="topline"
                                style="font-size:12px;color:white; padding:1px">ALPINE </a>
                            <br>
                            <p class="card-text"
                                style="font-weight: 700;color:#404041;line-height:30px;font-size: 20px;">


                            </p>
                        </div>
                        <div class="col-md-5">
                            <img src="https://formula1.lne.es/media/escuderias/big/alpine.jpg?4"
                                style="background-color:orange;height:75px;width:130px;margin-top:20px;">
                        </div>
                        <div class="col-md-7">
                            <p class="card-text"
                                style="font-size: 13px;line-height: 24px;color: #58595b;font-weight: 200;">
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <a href="#" class="card-text" id="topline"
                                        style="font-size:12px;color:white; padding:1px">HAAS </a>
                                    <br>
                                    <p class="card-text"
                                        style="font-weight: 700;color:#404041;line-height:30px;font-size: 20px;">
                                        

                                    </p>
                                </div>
                                <div class="col-md-5">
                                    <img src="https://formula1.lne.es/media/escuderias/big/haas.jpg?4"
                                        style="background-color:orange;height:75px;width:130px;margin-top:20px;">
                                </div>
                                <div class="col-md-7">
                                    <p class="card-text"
                                        style="font-size: 13px;line-height: 24px;color: #58595b;font-weight: 200;">
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <a href="#" class="card-text" id="topline"
                                        style="font-size:12px;color:white; padding:1px">MCLAREN </a>
                                    <br>
                                    <p class="card-text"
                                        style="font-weight: 700;color:#404041;line-height:30px;font-size: 20px;">
                                        

                                    </p>
                                </div>
                                <div class="col-md-5">
                                    <img src="https://formula1.lne.es/media/escuderias/big/mclaren.jpg?4"
                                        style="background-color:orange;height:75px;width:130px;margin-top:20px;">
                                </div>
                                <div class="col-md-7">
                                    <p class="card-text"
                                        style="font-size: 13px;line-height: 24px;color: #58595b;font-weight: 200;">
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <a href="#" class="card-text" id="topline"
                                style="font-size:12px;color:rgb(254, 255, 255); padding:1px">ALFA ROMEO </a>
                            <br>
                            <p class="card-text"
                                style="font-weight: 700;color:#404041;line-height:30px;font-size: 20px;">
                                

                            </p>
                        </div>
                        <div class="col-md-5 col-xs-6">
                            <img src="https://formula1.lne.es/media/escuderias/big/alfa-romeo.jpg?4"
                                style="background-color:rgb(0, 222, 214);height:75px;width:130px;margin-top:20px;">
                        </div>
                        <div class="col-md-7">
                            <p class="card-text"
                                style="font-size: 13px;line-height: 24px;color: #58595b;font-weight: 200;">
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <a href="#" class="card-text " id="topline"
                                style="font-size:12px;color:white; padding:1px">RED BULL </a>
                            <br>
                            <p class="card-text"
                                style="font-weight: 700;color:#404041;line-height:30px;font-size: 20px;">


                            </p>
                        </div>
                        <div class="col-md-5">
                            <img src="https://formula1.lne.es/media/escuderias/big/red-bull.jpg?4"
                                style="background-color:orange;height:75px;width:130px;margin-top:20px;">
                        </div>
                        <div class="col-md-7">
                            <p class="card-text"
                                style="font-size: 13px;line-height: 24px;color: #58595b;font-weight: 200;">
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <a href="#" class="card-text" id="topline"
                                        style="font-size:12px;color:white; padding:1px">ASTON MARTIN </a>
                                    <br>
                                    <p class="card-text"
                                        style="font-weight: 700;color:#404041;line-height:30px;font-size: 20px;">
                                        

                                    </p>
                                </div>
                                <div class="col-md-5">
                                    <img src="https://formula1.lne.es/media/escuderias/big/aston-martin.jpg?4"
                                        style="background-color:orange;height:75px;width:130px;margin-top:20px;">
                                </div>
                                <div class="col-md-7">
                                    <p class="card-text"
                                        style="font-size: 13px;line-height: 24px;color: #58595b;font-weight: 200;">
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <a href="#" class="card-text" id="topline"
                                        style="font-size:12px;color:white; padding:1px">FERRARI </a>
                                    <br>
                                    <p class="card-text"
                                        style="font-weight: 700;color:#404041;line-height:30px;font-size: 20px;">
                                        

                                    </p>
                                </div>
                                <div class="col-md-5">
                                    <img src="https://formula1.lne.es/media/escuderias/big/ferrari.jpg?4"
                                        style="background-color:orange;height:75px;width:130px;margin-top:20px;">
                                </div>
                                <div class="col-md-7">
                                    <p class="card-text"
                                        style="font-size: 13px;line-height: 24px;color: #58595b;font-weight: 200;">
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <a href="#" class="card-text" id="topline"
                                        style="font-size:12px;color:rgb(254, 255, 255); padding:1px">WILLIAMS </a>
                                    <br>
                                    <p class="card-text"
                                        style="font-weight: 700;color:#404041;line-height:30px;font-size: 20px;">
                                        
        
                                    </p>
                                </div>
                                <div class="col-md-5 col-xs-6">
                                    <img src="https://formula1.lne.es/media/escuderias/big/williams.jpg?4"
                                        style="background-color:rgb(0, 222, 214);height:75px;width:130px;margin-top:20px;">
                                </div>
                                <div class="col-md-7">
                                    <p class="card-text"
                                        style="font-size: 13px;line-height: 24px;color: #58595b;font-weight: 200;">
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <a href="#" class="card-text " id="topline"
                                        style="font-size:12px;color:white; padding:1px">ALPHATAURI </a>
                                    <br>
                                    <p class="card-text"
                                        style="font-weight: 700;color:#404041;line-height:30px;font-size: 20px;">
        
        
                                    </p>
                                </div>
                                <div class="col-md-5">
                                    <img src="https://formula1.lne.es/media/escuderias/big/alphatauri.jpg?4"
                                        style="background-color:orange;height:75px;width:130px;margin-top:20px;">
                                </div>
                                <div class="col-md-7">
                                    <p class="card-text"
                                        style="font-size: 13px;line-height: 24px;color: #58595b;font-weight: 200;">
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>